/* BASIC */


html {
    font-size: 16px;
    font-family: Lato400,sans-serif;
}

body {

    overflow-x: hidden;
    margin: 0 auto;
    height:100vh;
    -webkit-user-select: none;
    background-color: #2f2b2b;
   
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2f2b2b;
  }
   
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#c1c1c138;
    outline: 1px solid slategrey;
  }

a {
    margin:3px;
}


/* FONTS */


@font-face {
    font-family: Lato400;
    src: url(../fonts/Lato-Regular.ttf)
}

@font-face {
    font-family: Lato700;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Euro;
    src: url(../fonts/eurof55.ttf);
}


/* CLASSES */

.navbar {
    border-radius: 18px;
    display: flex;
    width: 100%;
    height: 8%;
    background-color: #6cce6c73;
    background-image: linear-gradient(45deg, #281e82, transparent);
    box-shadow: -7px -2px 20px 7px black;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3px;
}

.logo {
    margin-left:5px;
}

.logo img {
    width: 130px
}

.hide-grid {
    display: block;
    background-color: #c1c1c138;
    padding: 10px;
    margin: 0 5px 5px 5px;
    border-radius: 21px;
}
.sub-navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sub-navbar > * {
    font-size: 1.2rem;
    text-decoration: none;
    color:white;
    font-weight: Lato700, serif;
    font-weight: 400;
    margin: 1rem;
    text-shadow: 1px 2px 3px #666;
    transition: text-shadow .3s;
}
.sub-navbar > *:hover {
    text-shadow: -1px 2px 5px #03042a;
}


.search-features {
    display: flex;
    justify-content: center;
    padding: 11px 0;
    margin: 10px 5px 10px 5px;
    background-color: #d0d0d000;
    border-radius: 21px;
}

.search-container {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 21px;
        width: 200px;
        height: 25px;
}

.search-input {
    padding-left: 25%;
    font-family: Lato400,serif;
    text-align: center;
    border:none;
    outline: none;
    height: 100%;
}
.search-features a img {
    width:1em;
    height:1em;
    padding:0.1em;
    background-color: white;
  

}


.grid-image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-rows: 150px;
    gap: 5px;
    margin-inline-end: 4%;
    margin-inline-start: 4%;
    margin-block-end: 1%;

}
.img {
    display: flex;
    justify-content: center;
}

.img img{
    height:100%;
    object-fit: contain;
    object-position: center;
    border-radius: 30px;
    transition: box-shadow .3s,transform .6s;
   
}
    



.img img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px #f3f1f1;
}

.saved-memes-container {
    width: 100%;
    position: absolute;
    display: none;
    background-color: #060303e6;
    z-index: 3;
    top: 8%;
}
.saved-memes-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.close-modal {
    /* position: absolute;
    color: yellow;
    cursor: pointer;
    top: -1px;
    left: 8px;
    font-size: 1.5rem;
    font-weight: bolder; */
    position: absolute;
    color: white;
    border: 0.1px solid white;
    background-color: #6cce6c73;
    background-image: linear-gradient(45deg, #281e82, transparent);
    /* color: yellow; */
    cursor: pointer;
    border-radius: 25px;
    top: -1px;
    left: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 28px;
    margin-top: 10px;
    text-align: center;

}
.close {
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border: 0.1px solid white;
    background-color: #6cce6c73;
    background-image: linear-gradient(45deg, #281e82, transparent);
    width: 28px;
    border-radius: 25px;
    margin-top: 10px;

}
.saved-memes-flex img {
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 21px;
    box-shadow: -1px -1px 9px 2px #f7f3f3, -1px -1px 8px 3px #19cc19, -1px -1px 18px 2px #1442d3;
}

.download-share {
    transition: background-color .3s;
    margin-top: 10px;
}
.download-share a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1px;
    border-radius: 12px;
    padding: 5px;
 
}

.download-share a:hover {
    background-color: #6cce6c73;
    background-image: linear-gradient(171deg, #2611dfb8, #faf2f247);
}

/* MODAL */

.hamburger {
    display: none;
}
.modal-meme{
    display: flex;
    flex-direction: row-reverse;
    background-image: url('background.jpg');
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 10%;
    border-radius: 21px;
    height: 100vh;
    visibility: hidden;
   
}

.control-boxes {
    display: flex;
    background-color: #00000029;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 35%;
    box-shadow: 1px 1px 4px white;
}
.edit-memes-container{
    margin-block-end: 1em;
    text-align: center;
}
.edit-memes-container a img {
    border: black 1px solid;
    border-radius: 0.3em;
    width:1.5em;
    height:1.5em;
    padding:0.1em;
    background-color: white;
    box-shadow: 0 0 11px black;
    cursor: pointer;
    touch-action: manipulation; /*prevent zoom when double-touch*/
    transition: background-color .3s;
}

.edit-memes-container a img:hover {
    background-color: #6cce6c73;
    background-image: linear-gradient(171deg, #2611dfb8, #faf2f247);
}

.edit-memes-container.sticker img {
    cursor: grab;
    width: 4em;
    height: 4em;
}

.edit-memes-container.sticker img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .edit-memes-container.sticker img:active {
    
    opacity: 0.3;
    border-color: yellow;

}

.input {
    margin-block-end: 2em;
}
.text-input {
    margin-bottom: 10px;
    border-radius: 0.5em;
    outline: none;
    line-height: 2em;
}
/* CANVAS */

#myCanvas {
    box-shadow: 1px 1px 4px white;
    border-radius: 5px;
}


/* MEDIA QUERIES */
@media (max-width: 950px) {
    .control-boxes {
        height: 73vh;
        width: 45%;
    }
}

@media (max-width: 780px) {
    html {
        font-size: 12px;
    }

    .modal-meme {
        flex-direction: column-reverse;
    }
    .control-boxes {
        height: 45vh;
        width: 46%;
    }
    .input {
        margin-block-end: 0.3em;
    }
}


@media (max-width: 570px) {

    .control-boxes {
    
        min-width: 270px;
}
.edit-memes-container.sticker img {
    width: 3em;
    height: 3em;

}



}

@media (max-width: 380px) {
html, body {
        overflow-x:hidden 
} 
.hamburger{
  
    display: block;
    padding: 5px;
    position: absolute;
    top: 9px;
    color: white;
    border: 2px solid white;
    right: 20px;
}
.sub-navbar.open-hamb{
    transform: translate(0%);
}
.sub-navbar {
    border-radius: 21px;
    width: unset;
    z-index: 2;
    display: flex;
    transform: translate(200%);
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    background-color: black;
    top: 40px;
    right: -2px;
    transition: translate .3s,box-shadow .3s;
}

.sub-navbar > *:hover {
    padding: 1px;
    box-shadow: 2px 0px 13px 1px #fbf8f8;
    border-radius: 15px;
}

.logo {
    padding-right: 80%;
}

.logo img {
    width: 180%;
}


}

